*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-size: 15px;
  }
.window{
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
}
.main{
  height: 500px;
  width: 915px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 160px;
}
.card{
  align-items: center;
  padding: 0 47px;
  display: grid;
  grid-template-rows: 1fr 200px 1fr;
}
.orange{
    background-color: hsl(31, 77%, 52%);
}
.green{
    background-color: hsl(184, 100%, 22%);
}
.dark{
    background-color: hsl(179, 100%, 13%);
}
.left{
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.right{
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6em;
}
h1, button{
  color: hsl(0, 0%, 95%);
}
h1{
  font-family: 'Big Shoulders Display';
  text-transform: uppercase;
  margin: 40px auto;
  font-size: 36px;
}
p, button{
  font-family: 'Lexend Deca', sans-serif;
}
button{
  width: 150px;
  height: 50px;
  border: 2px solid;
  border-radius: 2em;
  cursor: pointer;
}
button:hover{
  background-color: hsla(0, 0%, 0%, 0);
  color: hsl(0, 0%, 95%);
}
.text_dark{
  color: hsl(179, 100%, 13%);
}
.text_green{
  color: hsl(184, 100%, 22%);
}
.text_orange{
  color: hsl(31, 77%, 52%);
}
.info{
  position: relative;
  top: -40px;
}

@media screen and (max-width: 400px) {
  .window{
    height: 100%;
  }
  .main{
    height: 1500px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    margin: 100px auto;
  }
  .left{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0;
  }
  .right{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0;
  }
}
