/*
--imperial-red: #e63946ff;
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--prussian-blue: #1d3557ff;
*/

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.british_flag{
  width: 60px;
  position: absolute;
  top: 0;
  right: 0.2em;
}

.boy_listening{
  height: 350px;
  margin-top: 0;
}

h1 {
  display: inline-block;
  width: auto;
  vertical-align: top;
  text-transform: uppercase;
  border-bottom: solid 2px #e63946ff;
}

h2.title {
  text-transform: uppercase;
  border-bottom: solid 2px #e63946ff;
  padding-bottom: 1em;
  font-size: 2em;
}

.sound{
  background-color: #a8dadcff;
  padding: 0.5em;
  border-radius: 1em 0 1em 1em;
  margin-right: 0.5em;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #a8dadcff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #a8dadcff, #457b9dff, #1d3557ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #a8dadcff, #457b9dff, #1d3557ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content{
  height: 80vh;
  width: 100vh;
  padding: 1em;
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.26), 0 3px 20px rgba(0, 0, 0, 0.33);
  border-radius: 4px;
  position: relative;
  overflow: scroll;
}

.content.animate__animated{
  animation-duration: 1.5s;
}

.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}

.close{
  height: 40px;
  width: 40px;
  color: #f1faeeff;
  border-radius: 50%;
  background-color: #457b9dff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16), 0 3px 20px rgba(0, 0, 0, 0.23);
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table{
  color: #1d3557ff;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

th{
  display: none;
}
td{
  display: block;
}
.table th, .table td{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
  background-color: #a8dadc;
}

.fas{
  color: #457b9dff;
}

.fa-window-restore{
  margin-right: 10px;
}

p{
  color: #1d3557ff;
  font-weight: 400;
  line-height: 1.8em;
  text-align: justify;
}

ul{
  list-style-position: inside;
}

li{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #1d3557ff;
  font-weight: 400;
  line-height: 1.8em;
  text-align: justify;
  left: 2em;
}

img{
  max-width: 100%;
}

a{
  color: #e63946ff;
}

a.close{
    text-decoration: none;
}

a:hover{
  opacity: 0.7;
}

/*
For the listening-link to obtain the button properties, the text has to be wrapped in a <span>
To turn text into a button, you must convert it to display:block;
Its container (.address-btn) may be positioned on screen thanks to position:relative & display;flex.
*/

a.listening_link{
  display: block;
  width: 220px;
  height: 60px;
  background-color: #a8dadcff;
  margin: 5px;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #457b9dff;
  font-weight: 700;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}

.text{
  margin-top: -2em;
}

.address-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description{
  font-weight: 400;
}

.instructions{
  color: #1d3557ff;
}

.beginner{
  font-size: 1.5em;
  font-weight: 700;
  color: #e63946ff;
  border-top: 2px solid #a8dadc;
  border-bottom: 2px solid #a8dadc;
  width: 220px;
}

.footer_index{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 0.5em;
  margin-bottom: -1em;
}

.footer_listening{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 0.5em;
  margin-bottom: -1em;
}

@media (min-width:800px) {
  h1{
    width: 330px;
  }
  .british_flag{
    position: relative;
    display: inline-block;
    width: 60px;
    margin-top: 10px;
    margin-right: 5px;
  }
  .content{
    width: 120vw;
    padding-top: 1.5em;
  }
  .beginner{
    width: 400px;
  }
  th{
    display: table-cell;
  }
  td{
    display: table-cell;
  }
  .table{
    width: 600px;
  }
  .beginner{
    width: 200px;
  }
}

@media (min-height:700px) {
  .boy_listening{
    margin: 0 2em;
    float: left;
    height: 250px;
  }
}
