
/*GLOABAL STYLES, FOR ALL ELEMENTS ALIKE: IMAGES, LINKS, FONTS ETC*/
/* BLUE TONES: A1 LEVEL
--imperial-red: #e63946ff;
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--prussian-blue: #1d3557ff;
*/
/*CIRCLES out of rectangular images:
.image_name{
border-radius: 50%;
width: 300px;
height: 300px;
object-fit: fill;
}*/
*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #1d3557ff;
}
.line_height{
  line-height: 1.5em;
}
.center_all{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Navigation Menu-bar*/
nav>ul,li,a{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
nav{
  background-color: #1d3557ff;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  text-transform: uppercase;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
a.active,a:hover{
  background: #a8dadcff;
  transition: 1s;
}
/*buttons style*/
.buttons{
  display: flex;
  align-items: center;
}
.buttons button{
  margin: 0.5em;
  border-color: #457b9dff;
  background-color: #f1faeeff;
  color: #1d3557ff;
  font-weight: bold;
  border-width: 0.2em;
  border-radius: 1em;
  width: 3em;
}
button:hover{
  opacity: 0.8;
  cursor: pointer;
}
button:focus {
    outline: none;
}/*FRONT/BACK layer or line.*/
.blue_fade{
  position: relative;
  z-index: 1;
}
.blue_fade::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 1.4em;
  background: linear-gradient(to right, #a8dadcff, white);
  bottom: 0;
  left: 0;
  margin-bottom: -0.1em;
  z-index: -1;
}


/*UTILITY STYLES: SPACES(MARGIN/PADDING), SHADOWS, COLORS ETC. */
/*WIDTH EXPLANATION: https://www.youtube.com/watch?v=YjtunZW7jxw*/
/*EM(PADDING/MARGIN/BORDERS) REM(FONTS) EXPLANATION: https://www.youtube.com/watch?v=2ROnS_qHEP4*/
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  align-content: space-around;
  justify-content: center;
  background: #a8dadcff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8dadcff, #457b9dff, #1d3557ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8dadcff, #457b9dff, #1d3557ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content{
  height: 60em;
  max-height: 90%;
  width: 70em;
  max-width: 100%;
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.26), 0 3px 20px rgba(0, 0, 0, 0.33);
  border-radius: 4px;
  overflow:scroll;
  position: relative;
  z-index: 1;
}
.content_padding{
  padding: 2em 2em;
}
.next_btn_position{
  position: absolute;
  top: 1em;
  right: 1em;
}
.back_btn_position{
  position: absolute;
  top: 1em;
  right: 4em;
}
.btn_appearance{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16), 0 3px 20px rgba(0, 0, 0, 0.23);
  background-color: #457b9dff;
  color: #f1faeeff;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*COMPONENT STYLES: COVERS, ETC.*/
/*SELECTS ALL CHILDS OF THE CONTAINER .TEXT-AND-IMAGES:
.text-and-image > *{
  margin: 1em;
}*/
/*Card with image on top, text on the bottom.*/
.card .card_background{
  width: 100%;
  padding-bottom: 56.25%;
  background-position: center;
  background-size: cover;
}
.card header{
  padding: 1.5em 2em;
}
.card_background{
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.card{
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}
/*MEDIA QUERIES*/
/*min.width means from that measure onwards*/
/*With align-items: stretch; the header <div> and img <div> align at the top!*/
@media (max-width:1025px){
  .content{
    height: 80.5em;
    max-height: 100%;
  }
}
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 18px;
  }
@media (max-width:768px){
  .content{
    height: 75em;
    max-height: 92%;
  }
}
@media (max-width:577px){
  .content{
    height: 50em;
    max-height: 90%;
  }
  nav{
    height: 60px;
  }
  label.logo, .checkbtn{
    font-size: 25px;
    line-height: 60px;
  }
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #a8dadcff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #a8dadcff, #457b9dff, #1d3557ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #a8dadcff, #457b9dff, #1d3557ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 80px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: silver;
  }
  #check:checked ~ ul{
    left: 0;
  }

}
