
/*GLOABAL STYLES, FOR ALL ELEMENTS ALIKE: IMAGES, LINKS, FONTS ETC*/

/*
TO MAKE CIRCLES out of rectangular images:
.image_name{
border-radius: 50%;
  /IN THE FUTURE: aspect-ratio: 1/1;/
width: 300px;
height: 300px;
object-fit: fill;
}
*/

*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #2f3e46ff;
}

img{
  max-width: 100%;
}

a{
  font-family: 'Montserrat', sans-serif;
  color: #354f52ff;
}

.freepik_attribute{
  padding: 0.5rem .8rem;
  font-style: italic;
  font-size: .7rem;
}

header h1{
  font-size: 1.5rem;
  margin-top: 0.5em;
  line-height: 1.5em;
}

header p{
  line-height: 1.5em;
}

.target{
  width: 80px;
  float: right;
  margin: 0 0.5em;
}

.plan{
  width: 200px;
  border-radius: 50%;
}

.online_lesson{
  width: 400px;
  border-radius: 1em;
}

.article_img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.13);
}

.images{
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.subtitle{
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

li{
  line-height: 1.5em;
}



/*UTILITY STYLES: SPACES(MARGIN/PADDING), SHADOWS, COLORS ETC. */
/*WIDTH EXPLANATION: https://www.youtube.com/watch?v=YjtunZW7jxw*/
/*EM(PADDING/MARGIN/BORDERS) REM(FONTS) EXPLANATION: https://www.youtube.com/watch?v=2ROnS_qHEP4*/
/* CSS HEX
--ash-gray: #cad2c5ff;
--dark-sea-green: #84a98cff;
--hookers-green: #52796fff;
--dark-slate-gray: #354f52ff;
--charcoal: #2f3e46ff;
*/
.center_all{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
}

.main_h{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.bg_green{
  background-color: #52796fff;
  color: #cad2c5ff;
}

.bg_gray{
  background-color: #cad2c5ff;
  color: #2f3e46ff;
}

.section_padding{
  padding: 3em 2em;
}

.line_height{
  line-height: 1.5em;
}


/*COMPONENT STYLES: COVERS, ETC.*/
/*THIS SELECTS ALL CHILDS OF THE CONTAINER .TEXT-AND-IMAGES:
.text-and-image > *{
  margin: 1em;
}
*/
/*THIS MAKES AN OVERLAY WHICH CAN BE TURNED INTO A LINE OR A FRONT/BACK LAYER.*/
.gray_fade{
  position: relative;
  z-index: 1;
}
.gray_fade::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 1.4em;
  background: linear-gradient(to right, #cad2c5ff, white);
  bottom: 0;
  left: 0;
  margin-bottom: -0.1em;
  z-index: -1;
}

.text-and-image{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em 1em;
}

.quote{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.buttons{
  display: flex;
  align-items: center;
}

.buttons button{
  margin: 0.5em;
  border-color: #52796fff;
  background-color: #cad2c5ff;
  color: #52796fff;
  font-weight: bold;
  border-width: 0.2em;
  border-radius: 1em;
  width: 3em;
}

button:hover{
  opacity: 0.8;
  cursor: pointer;
}

button:focus {
    outline: none;
}


.level{
  color: #84a98cff;
  font-weight: bold;
  margin: 0.5em 0;
}

/*HEADER FOR THE LEARNING RESOURCES SECTION*/
.h_resources{
  text-transform: uppercase;
}

.items{
  gap: 3em;
}

.items header{
  grid-column: span 12;
}

.items .item{
  grid-column: span 12;
  background-color: white;
}

/*THIS LETS YOU PLACE AN IMAGE IN A DIV CONTAINER TAKING UP A RELATIVE SPACE*/
.item .background{
  width: 100%;
  padding-bottom: 56.25%;
  background-position: center;
  background-size: cover;
}

.item header{
  padding: 1.5em 2em;
}

.item{
  border-radius: 1em;
}
.background{
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
/*MEDIA QUERIES*/
/*min.width means from that measure onwards*/
/*With align-items: stretch; the header <div> and img <div> align at the top!*/
@media (min-width:60em){
  .text-and-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    padding: 4.25em 2em;
  }
  .text-and-image.cover{
    padding-bottom: 0;
  }
  .online_lesson{
    width: 500px;
    border-radius: 45% 45% 0 0;
    margin-bottom: -1.3em;
  }
  .buttons{
    flex-direction: column;
    justify-content: stretch;
    border-top: 1px solid #84a98cff;
    padding: 0.5em 0;
  }
  header h1{
    font-size: 2em;
  }
  .plan{
    width: 300px;
  }
  .quote{
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.2rem;
  }
  .element_with_images{
    display: flex;
  }
  .element_with_images .text{
    flex: 2; /*THIS PUSHES THE BROTHER ELEMENT TO THE OTHER SIDE IN (ROW/COLUMN) TERMS*/
    max-width: 100%;
    align-self: center;
  }
  .element_with_images .images{
    flex: 1; /*THIS KEEPS THE IMAGES ORIGINAL SIZE & USES HALF THE SPACE IN WIDTH*/
    display: grid; /*THIS PLACES THE ITEMS IN COLUMNS*/
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: repeat(2, minmax(0,1fr));
    grid-template-areas: "left-image ."
                        ". right-image"
  }
  .element_with_images .images img:first-child{
    grid-area: left-image;
  }
  .element_with_images .images img:last-child{
    grid-area: right-image;
  }
  /*THIS REVERSES THE ORDER OF THE ELEMENTS IN THE ARTICLE WITH CLASS: ELEMENT WITH IMAGES*/
  .element_with_images:nth-child(even){
    flex-direction: row-reverse;
  }
  .main-grid{
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
  }
  .items .item{
    grid-column: span 4;
  }
}
