/*GLOABAL STYLES, FOR ALL ELEMENTS ALIKE: IMAGES, LINKS, FONTS ETC*/
body{
  font-family: 'Montserrat', sans-serif;
}
header h1{
  font-size: 1.8rem;
}
/*UTILITY STYLES: SPACES(MARGIN/PADDING), SHADOWS, COLORS ETC. */
/*WIDTH EXPLANATION: https://www.youtube.com/watch?v=YjtunZW7jxw*/
/*EM(PADDING/MARGIN/BORDERS) REM(FONTS) EXPLANATION: https://www.youtube.com/watch?v=2ROnS_qHEP4*/
.container{
  width: 70rem;
  max-width: 100%;
  margin: 0 auto;
}

/*COMPONENT STYLES: COVERS, ETC.*/
.text-and-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn_online{
  width: 400px;
  max-width: 100%
}
.target{
  width: 80px;
  float: left;
  margin: 0 0.5em;
}

.site_header{

}
